<!DOCTYPE html>

<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<title>ChatSpaceSample</title>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="Mx9ZgrihpnVCy5WhAyky3dAuAMgau03W/AsgJcwlVcVyZypJjLx7ZTKmBG0jWXJDyS/KLM2fdxe3QonTNfPRNw==" />
<link rel="stylesheet" media="all" href="/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css" data-turbolinks-track="reload" />
<script src="/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js" data-turbolinks-track="reload"></script>
</head>
<body>
<div class='flash-box'>
<div class="notice">グループを作成しました</div>
</div>

<div class='wrapper'><!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<title>ChatSpaceSample</title>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="4Lh9wjdoa/RKH5++yYJ9ouIUfhJjcFftrt2pa2yKwN96JqIQ98Ikrw13xmgnw6hPtYjVCcg+hgwh4wfEtW2RWg==" />
<link rel="stylesheet" media="all" href="/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css" data-turbolinks-track="reload" />
<script src="/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js" data-turbolinks-track="reload"></script>
</head>
<body>
<div class='flash-box'>
</div>

<div class='wrapper'>
<div class='chat-side'>
<div class='side-header'>
<div class='side-header__box'>
<p class='side-header__box__user-name'>daisuke</p>
<ul class='side-header__box__menu'>
<li class='side-header__box__menu__new-group'>
<a href="/groups/new"><i class="fa fa-edit"></i>
</a></li>
<li class='side-header__box__menu__edit-user'>
<a href="/users/1147/edit"><i class="fa fa-cog"></i>
</a></li>
</ul>
</div>
</div>
<div class='groups'>
<a href="/groups/2489/messages"><div class='group'>
<p class='group__group-name'>test</p>
<p class='group__latest-message'>こんにちは</p>
</div>
</a><a href="/groups/2492/messages"><div class='group'>
<p class='group__group-name'>テストのグループ</p>
<p class='group__latest-message'>あああ</p>
</div>
</a></div>
</div>

<div class='chat-main'>
<div class='main-header'>
<div class='main-header__left-box'>
<h2 class='main-header__left-box__current-group' data-group_id='2492'>
テストのグループ
</h2>
<ul class='main-header__left-box__member-list'>
Member：
<li class='main-header__left-box__member-list__member'>あああ</li>
<li class='main-header__left-box__member-list__member'>daisuke</li>
</ul>
</div>
<a href="/groups/2492/edit"><div class='main-header__edit-btn'>Edit</div>
</a></div>
<div class='messages'>
<div class='message' data-message_id='6638'>
<div class='message__upper-info'>
<p class='message__upper-info__talker'>daisuke</p>
<p class='message__upper-info__date'>2019/07/17(Wed) 11:13:08</p>
</div>
<p class='message__text'>あああ</p>

</div>

</div>
<div class='form'>
<form class="new_message" id="new_message" enctype="multipart/form-data" action="/groups/2492/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="7cBDZqBM3LDEfIRTzkmebwed3FX59/Ldy5meb6JP33u/Cpj6fUCKpnCvvPdVA4s3LmiGSSCyUJ88x0sGe6zqUQ==" /><div class='input-box'>
<input placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content" />
<label class="input-box__image" for="message_image"><i class="fa fa-image"></i>
<input class="input-box__image__file" type="file" name="message[image]" id="message_image" />
</label></div>
<input type="submit" name="commit" value="Send" class="submit-btn" data-disable-with="Send" />
</form></div>
</div>

</div>

</body>
</html>

<div class='chat-side'>
<div class='side-header'>
<div class='side-header__box'>
<p class='side-header__box__user-name'>daisuke</p>
<ul class='side-header__box__menu'>
<li class='side-header__box__menu__new-group'>
<a href="/groups/new"><i class="fa fa-edit"></i>
</a></li>
<li class='side-header__box__menu__edit-user'>
<a href="/users/1147/edit"><i class="fa fa-cog"></i>
</a></li>
</ul>
</div>
</div>
<div class='groups'>
<a href="/groups/2489/messages"><div class='group'>
<p class='group__group-name'>test</p>
<p class='group__latest-message'>こんにちは</p>
</div>
</a></div>
</div>

</div>

</body>
</html>
